body{
    width: 900px;
    text-align: justify;
}

h2{
    color: rgb(61, 168, 19);
    font-weight: bold;
}

li{
    background-color: rgb(216, 169, 81);
    width: 150px;
    height: 25px;
    text-align: center;
    margin: 5px;
    font-weight: bold;
    color: gray;
    padding-top: 11px;
}


.bienvenidos{
    margin-left: 25px;
    border: 1px solid rgb(187, 176, 176);
    padding: 15px;
}

.parquenatural{
    color: rgb(122, 180, 34);
    font-size: 30px;
    font-weight: bold;
    margin-left: 25px;
}

.sierrabicuerca{
    color:rgb(170, 115, 44);
    font-size: 30px;
    font-weight: bold;
}

li:hover{
    background-color: rgb(28, 185, 36);
    color: white;
    cursor: pointer;
}